{% extends "_layout.twig" %}

{% block content %}

<div class="text-center" >
    <br>
    <img src="/images/catbus.gif" alt="catbus" width="500px">">
    <p>
        <h3>Страница не найдена! Бегу искать!</h3>
    </p>    
</div>

{% endblock %}