{% import "buttons.html" as buttons %}

<div class="row">
    {% for item in totoro_objects %}    
    <div class="position-relative card p-0 me-4 mb-4" style="width: 18rem; height: 17rem">
      <img class="card-img-top" src="{{item.image}}" alt="{{item.title}}" style="width: 17.9rem; height: 11rem">
      <div class="position-absolute" style="right: 4px; top: 4px">
        <form action="/totoro-object/{{item.id}}/delete" method="POST">
          <button class="btn btn-danger" type="submit">
            <i class="fas fa-times"></i>
          </button>
        </form>   
      </div>
      <div class="position-absolute" style="left: 4px; top: 4px">
        <form action="/totoro-object/{{item.id}}/edit" method="GET">
          <button class="btn btn-warning" type="submit">
            <i class="fa-solid fa-pencil"></i>
          </button>
        </form>   
      </div>
      <div class="card-body">
        <div class="row p-1">
          {{ buttons.btn(item.title, "/totoro-object/#{item.id}", true) }}
        </div>
        <div class="row d-flex" style="justify-content:center;">          
          <div class="col-auto">
            <a href="/totoro-object/{{item.id}}?show=image">Картинка</a>
          </div>
          <div class="col-auto">
            <a href="/totoro-object/{{item.id}}?show=info">Описание</a>
          </div>   
        </div>  
      </div>
    </div>
    {% endfor %}

    
</div>

  