{% extends "_layout.twig"%}

{% block content %}

<br>

{% include 'list_template.html' with {menu, totoro_objects} %}

<br>

<p>{{text}}</p>

<img src="{{image}}" alt="{{image_alt}}" style="width: 500px;">
{% endblock %}