{% extends "_object.twig"%}

{% block objectContent %}
    <p>
        Хранитель леса, очень большое мохнатое существо серого цвета.<br>
        Является «смесью» нескольких животных: тануки, кошки и совы. <br>
        Не умеет говорить, издаёт только грудные рычащие звуки.
    </p>
{% endblock %}
